/* NavBar.css */

.navbar {
    margin-bottom: 0;
    background-color: aqua; /* Elimina margen en la parte inferior del navbar */
  }
  
  .navbar-brand {
    font-weight: bold; /* Opcional: hace que el nombre del navbar sea más destacado */
  }
  
  .navbar-nav .nav-link {
    font-size: 16px; /* Tamaño de fuente para los enlaces de navegación */
  }
  
  .nav-link.disabled {
    pointer-events: none; /* Desactiva el clic en enlaces deshabilitados */
    opacity: 0.6; /* Opcional: cambia la opacidad para los enlaces deshabilitados */
  }
  