/* Estilo global del body */
html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fe0e0ef3;
}
#root {

  background-color: #000000;
  color: #ffffff;
}
  
/* Estilo para el título principal */
h1,h2,h3,h4,h5{
  color: #ffffff; /* Color del título principal */
  text-align: center;
  margin-bottom: 20px;
}

/* Estilo para los párrafos */
 p {
  text-align: left;
  color: #ececec; /* Color de texto más tenue */
}
.card-body p {
  text-align: left;
  color: #000000; /* Color de texto más tenue */
}






